---
import Layout from '../layouts/Layout.astro';
import { getPageBySlug } from '../lib/wordpress';

const homePage = await getPageBySlug('about');
---

<Layout title="Corporate Directors Roundtable of Orange County">
  <div class="cdroc-row cdroc-flex-reverse">
    <div class="cdroc-col cdroc-body">
      <!-- if there is no content from WordPress, show the default title -->
      {!homePage && <h1 id="cdroc-home-title">Celebrating 16 Years of Excellence in the Boardroom</h1>}
      
      {homePage ? (
        <div class="wp-content" set:html={homePage.content.rendered} />
      ) : (
        <div>
          <h3>Special Discussion Meetings & Events</h3>
          <p>Our special meetings and events are scheduled opportunistically during the year depending on the interests of our members, timeliness of topics, and the availability of invited speakers and guests.</p>
          
          <h3>Scholarship Program</h3>
          <p>Two academic scholarship are granted annually by the CDROC to Latinx students enrolled at UC Irvine's Schools of Business and Computer Sciences.</p>
          
          <h3>Mentorship Program</h3>
          <p>The CDROC has a mentorship program with UC Irvine undergraduate students enrolled in either the School of Business or School of Computer Sciences. Currently four mentorships are active.</p>
          
          <b>Established In Orange County, California on October 1, 2008</b>
        </div>
      )}
    </div>

    <aside class="cdroc-col cdroc-sidebar">
      <div class="cdroc-sidebar-box">
        <h3>Interested in Becoming a Member?</h3>
        <p>
          Eligibility for membership is by invitation only, and is based on skills, experience, and potential contributions of candidates. If you're interested in learning more about our group and exploring membership opportunities, please email us your resume and a brief message at <a href="mailto:cdrocorg@outlook.com">cdrocorg@outlook.com</a>.
        </p>
      </div>
    </aside>
  </div>
</Layout>